.body {
  background-color: #1d1d1d;
}

.dashboard {
  background-color: #1d1d1d;
  color: #c7c7c7;
  height: 100vh;

  font-family: 'Titillium Web', sans-serif;
}

.text-azulelectrico .img {
  filter: grayscale(0%);
}

li[aria-selected='true'] {
  background-color: black;
  color: red !important;
}

// fix de la tabla
.ReactVirtualized__Table__rowColumn {
  display: table-cell !important;
}

.full-heigh-less-navbar {
  height: -webkit-calc(100vh - 112px);
  height: -moz-calc(100vh - 112px);
  height: calc(100vh - 112px);
}

.login {
  height: -webkit-calc(100vh - 78px);
  height: -moz-calc(100vh - 78px);
  height: calc(100vh - 78px);
}
.background-gray1 {
  background-color: #323232;
}

// resulpanel style
.resultpanel {
  background-color: #323232;
}
.ReactTable .rt-thead .rt-th {
  background-color: #222222;
  color: #4aa9db;
}

.ReactTable .rt-tbody .rt-td {
  border: none !important;
  text-align: center;
}

.ReactTable .rt-tbody .rt-td:nth-child(2) {
  color: #4aa9db;
}

.ReactTable .-pagination .-btn[disabled] {
  opacity: 0.5;
  cursor: default;
  color: white;
  background-color: #222222;
}

.ReactTable .-pagination input,
.ReactTable .-pagination select {
  color: #222222;
}

//notificaciones
.Toastify__toast--default {
  background: #252525 !important;
  color: #aaa;
}

.ReactTable .-pagination .-center {
  flex: none;
}

.ReactTable .-pagination .-previous,
.ReactTable .-pagination .-next {
  flex: none !important;
  width: 80px !important;
  height: 50px !important;
  border: 2px solid gray !important;
  width: 100px !important;
  text-align: center;
}

.ReactTable .-pagination {
  align-items: center !important;
}

.ReactTable .-pagination .-pageJump input {
  width: 50px !important;
  text-align: center;
}

@media (max-width: 767px) {
  .full-heigh-less-navbar {
    height: -webkit-calc(33vh - 64px);
    height: -moz-calc(33vh - 64px);
    height: calc(33vh - 64px);
  }
}
