.sidebar {
  background-color: #222222;
  height: -webkit-calc(100vh - 78px);
  height: -moz-calc(100vh - 78px);
  height: calc(100vh - 78px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: 80px;
    display: flex;
  }
}
