.default {
  padding: 5px;
  border: 2px solid gray;
  margin: 5px;
}

.primary {
  padding: 5px;
  border: 2px solid #50c1fb;
  color: #50c1fb;
  margin: 5px;
}

.highlighted {
  padding: 5px;
  border: 2px solid #50c1fb;
  background: #50c1fb;
  color: white;
  margin: 5px;
}
