.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b1b1b;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
  > div {
    font-size: 1rem !important;
    padding: 0.75rem !important;
    border-right: 2px solid #c7c7c7 !important;
    strong {
      font-size: 2.25rem !important;
    }
  }
}

.contentflex {
  display: flex;
}

.contentLogout {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.icon {
  width: 25px;
  margin: auto;
  filter: grayscale(100%);
}

.contentUser {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}

.nameUser {
  color: #50c1fb !important;
}
.avatar {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  background-color: #50c1fb;
}

.margin {
  margin-right: 15px;
  margin-left: 15px;
}
