$electric-blue: #50c1fb;
$dark-gray: #1d1d1d;
$border-color: #525252;

.bitaUpload {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  min-height: 10px;
  font-family: 'Titillium Web', sans-serif !important;

  .dzu-dropzone {
    border: solid $border-color 1px;
    overflow: hidden;
    min-height: 130px;
    max-height: 90%;

    progress::-moz-progress-bar {
      background: $electric-blue;
    }
    progress::-webkit-progress-value {
      background: $electric-blue;
    }
    progress {
      color: $electric-blue;
    }

    .dzu-previewButton {
      display: none;
    }

    .dzu-previewContainer {
      border-bottom: 1px solid $border-color;
    }

    .dzu-inputLabel {
      font-family: 'Titillium Web', sans-serif !important;
      color: $electric-blue;
    }

    .dzu-previewFileName {
      font-family: 'Titillium Web', sans-serif !important;
      color: $electric-blue;
    }

    .dzu-inputLabelWithFiles {
      background-color: $electric-blue !important;
      color: $dark-gray !important;
      border-radius: 0 !important;
      font-family: 'Titillium Web', sans-serif !important;
    }

    .dzu-submitButton {
      background-color: transparent;
      border: solid $electric-blue 1px;
      color: $electric-blue;
      font-family: 'Titillium Web', sans-serif !important;
      text-transform: uppercase;
      border-radius: 0;
      letter-spacing: 0.07em;
    }
  }
}
