.contentlogin {
  width: 400px;
  margin: 40px auto;
  border: 1px solid #3f3f3f;
  padding: 30px 30px 40px 30px;
  font-size: 14px;
  input {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #50c1fb;
    padding: 3px;
    margin: 10px 6px;
    color: white;
  }
  button {
    width: 130px;
    padding: 3px;
    margin: 6px;
    color: white;
    background: #50c1fb !important;
  }
  div {
    width: 100%;
  }
  img {
    width: 100px;
    margin-bottom: 10px;
  }
  span {
    top: -42px;
    position: relative;
    left: 150px;
    cursor: pointer;
  }
}

input[type='checkbox'] {
  width: 10px;
}
