.switcher {
  .react-switch-handle {
    height: 22px;
    width: 21px;
    background-color: #1b1b1b !important;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    transform: translateX(29px);
    top: 3px;
    right: 32px;
    outline: 0px;
    border: 0px;
    transition: background-color 0.25s ease 0s, transform 0.25s ease 0s, box-shadow 0.15s ease 0s;
  }
}
.react-switch-handle {
  background-color: #1b1b1b !important;
}
