.calendartitle {
  margin: 0px 0px 0px 10px;
  font-size: 1rem !important;
}
.contenteCalendar {
  display: flex;
  justify-content: center;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}