.DateRangePicker {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.DateRangePicker__Legend {
  color: darken(#50c1fb, 30%);
  font-size: 14px;
  line-height: 16px;
  list-style-type: none;
  margin: 0px 0px 0px 10px;
  padding: 0;
}
.DateRangePicker__LegendItem {
  display: inline-block;
  margin: 0 20px;
}
.DateRangePicker__LegendItemColor {
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  margin-right: 6px;
  vertical-align: text-bottom;
  width: 14px;
}
.DateRangePicker__LegendItemColor--selection {
  background-color: #ed5434;
}
.DateRangePicker__PaginationArrow {
  border: 0;
  cursor: pointer;
  display: block;
  height: 35px;
  outline: none;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 35px;
  z-index: 1;
}
.DateRangePicker__PaginationArrow--previous {
  left: 20px;
}
.DateRangePicker__PaginationArrow--next {
  right: 40px;
}

.DateRangePicker__PaginationArrowIcon {
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  height: 0;
  position: absolute;
  top: 10px;
  width: 0;
}
.DateRangePicker__PaginationArrowIcon--is-disabled {
  opacity: 0.25;
}
.DateRangePicker__PaginationArrowIcon--previous {
  border-left: 7px solid transparent;
  border-right: 7px solid darken(#50c1fb, 20%) !important;
  left: 220px;
}

.DateRangePicker__PaginationArrowIcon--previous:hover {
  border-right: 7px solid darken(white, 40%) !important;
}

.DateRangePicker__PaginationArrowIcon--next {
  border-left: 7px solid darken(#50c1fb, 20%) !important;
  border-right: 7px solid transparent;
  left: 60px;
}

.DateRangePicker__PaginationArrowIcon--next:hover {
  border-left: 7px solid darken(white, 40%) !important;
}

.DateRangePicker__Month {
  color: darken(#50c1fb, 20%);
  display: inline-block;
  margin: 0px 0px 0px 10px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 275px;
}
.DateRangePicker__MonthHeader {
  color: darken(#50c1fb, 10%);
  background: #323232;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  position: relative;
  padding-left: 11px;
}
.DateRangePicker__MonthHeaderLabel {
  display: inline-block;
  position: relative;
}
.DateRangePicker__MonthHeaderSelect {
  background: #e4e4e4;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
.DateRangePicker__MonthDates {
  background: #323232;
  margin: 0;
  width: 100%;
}
.DateRangePicker__WeekdayHeading,
.DateRangePicker__Date {
  font-size: 12px;
  line-height: 1;
  padding: 10px 0;
  text-align: center;
  width: 14.285714285714286%;
}
.DateRangePicker__WeekdayHeading {
  color: darken(white, 25%);
  border-bottom: 1px solid darken(#50c1fb, 40%);
  font-weight: bold;
}
.DateRangePicker__WeekdayHeading abbr[title] {
  border-bottom-width: 0;
  color: darken(white, 30%);
  cursor: pointer;
  font-size: inherit;
  text-decoration: none;
}
.DateRangePicker__Date {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.DateRangePicker__Date--otherMonth {
  opacity: 0.25;
}
.DateRangePicker__Date--is-disabled {
  color: #cdcdd1;
  cursor: default;
}
.DateRangePicker__Date--is-selected {
  color: #fff;
}
.DateRangePicker__Date--is-highlighted {
  color: darken(#50c1fb, 30%);
}
.DateRangePicker__CalendarDatePeriod {
  bottom: 0;
  position: absolute;
  top: 0;
}
.DateRangePicker__CalendarDatePeriod--am {
  left: 0;
  right: 50%;
}
.DateRangePicker__CalendarDatePeriod--pm {
  left: 50%;
  right: 0;
}
.DateRangePicker__CalendarSelection {
  background-color: darken(#50c1fb, 5%);
  border: 1px solid darken(#50c1fb, 10%);
  bottom: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 5px;
}
.DateRangePicker__CalendarSelection--inOtherMonth {
  opacity: 0.5;
}
.DateRangePicker__CalendarSelection--start {
  border-right-width: 0;
}
.DateRangePicker__CalendarSelection--end {
  border-left-width: 0;
}
.DateRangePicker__CalendarSelection--segment {
  border-left-width: 0;
  border-right-width: 0;
}
.DateRangePicker__CalendarSelection--single {
  border-radius: 5px;
  left: 5px;
  right: 5px;
}
.DateRangePicker__CalendarSelection--is-pending {
  background-color: darken(#50c1fb, 10%);
  border-width: 0;
}
.DateRangePicker__CalendarHighlight {
  background-color: darken(#50c1fb, 10%);
  bottom: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 5px;
}
.DateRangePicker__CalendarHighlight--inOtherMonth {
  opacity: 0.5;
}
.DateRangePicker__CalendarHighlight--start {
  border-bottom-left-radius: 5px;
  border-right-width: 0;
  border-top-left-radius: 5px;
  left: 5px;
}
.DateRangePicker__CalendarHighlight--end {
  border-bottom-right-radius: 5px;
  border-left-width: 0;
  border-top-right-radius: 5px;
  right: 5px;
}
.DateRangePicker__CalendarHighlight--segment {
  border-left-width: 0;
  border-right-width: 0;
}
.DateRangePicker__CalendarHighlight--single {
  background-color: rgb(32, 32, 32);
  border-radius: 5px;
  left: 5px;
  right: 5px;
}
.DateRangePicker__HalfDateStates {
  bottom: -50px;
  left: -50px;
  position: absolute;
  right: -50px;
  top: -50px;
  transform: rotate(30deg);
}
.DateRangePicker__FullDateStates {
  background-color: #323232;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.DateRangePicker__DateLabel {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}
