.small {
  width: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  font-size: 10px;
  img {
    width: 55px;
    filter: grayscale(100%);
    margin: 5px auto;
  }
  > div:nth-child(1) {
    width: 93%;
    border: 2px solid gray;
    border-bottom: 0px;
  }
  > div:nth-child(2) {
    width: 100%;
    background-color: #50c1fb;
    color: #333;
  }
  > div:nth-child(3) {
    width: 93%;
    border: 2px solid gray;
    border-top: 0px;
    padding: 2px 0px;
  }
}

.normal {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  img {
    width: 90px;
    filter: grayscale(100%);
    margin: 10px auto;
  }
  > div:nth-child(1) {
    width: 93%;
    border: 2px solid gray;
    border-bottom: 0px;
  }
  > div:nth-child(2) {
    width: 100%;
    background-color: #50c1fb;
    color: #333;
  }
  > div:nth-child(3) {
    width: 93%;
    border: 2px solid gray;
    border-top: 0px;
    padding: 5px 0px;
  }
}

.expanded {
  width: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  text-align: center;
  margin: 30px;
  font-size: 18px;
  img {
    width: 125px;
    filter: grayscale(100%);
    margin: 15px auto;
  }
  > div:nth-child(1) {
    width: 93%;
    border: 2px solid gray;
    border-bottom: 0px;
  }
  > div:nth-child(2) {
    width: 100%;
    background-color: #50c1fb;
    color: #333;
  }
  > div:nth-child(3) {
    width: 93%;
    border: 2px solid gray;
    border-top: 0px;
    padding: 5px 0px;
  }
}
